<!DOCTYPE html>
<html>

<head>
    <title>
        {% block title %} {% endblock %}
    </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>


<div id="resume" ></div>

<div class="fixed-bottom" >

    <a role="button" href='https://www.linkedin.com/in/jaclyndetweiler/' target="_blank">
        <img src="/static/images/linkedin.png" width="50" height="flex" alt=""></a>
    <a role="button" href='https://github.com/stellardoor' target="_blank">
          <img src="/static/images/github.png" width="50" height="flex" alt=""></a>
  
</div>


    {% block body %} {% endblock %}

    {% block js %}
    {% endblock %}

    <link rel="stylesheet" href="/static/css/jackie.css">

    <script type="text/jsx" src="/static/JSREACT/resume.jsx"></script>
    <script type="text/jsx">
        ReactDOM.render(
            <App />,
            document.querySelector('#resume')
        )
    </script>

    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>

    <!-- <script src="/JSREACT/react.development.js"></script>
    <script  src="/JSREACT/react-dom.development.js"></script>
    <script src="/JSREACT//babel.js"></script> -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
   
</body>


</html>

  {% with messages=get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
      <div class='alert alert-{{category}} alert-dismissible fade show' role='alert' 
      data-mdb-delay="3000" style="margin-bottom: 0px";>
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endwith %}

